:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
  transition: background 1s ease-in-out; /* Smooth background transition */
}

h1 {
  font-size: 2.5em;
  color: white;
}

/* Default background */
.app.default {
  background-color: #242424;
}

/* Space-themed backgrounds */
.app.space {
  background: radial-gradient(circle at center, #000428, #004e92);
}

.app.nebula {
  background: linear-gradient(45deg, #360033, #0b8793);
}

.app.galaxy {
  background: radial-gradient(circle, #1a2a6c, #b21f1f, #fdbb2d);
}

.app.starfield {
  background: black;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png"); /* Using subtle star texture */
}

/* textured backgrounds */
.app.white-diamond {
  background-color: #000736;
  background-image: url("https://www.transparenttextures.com/patterns/white-diamond.png");
}

/* Natural backgrounds */
.app.snowy-mountains {
  background: url("https://images.unsplash.com/photo-1527236278376-a1ed0f95da30?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center/cover;
}

.app.sunset-beach {
  background: url("https://images.unsplash.com/photo-1422493757035-1e5e03968f95?q=80&w=2008&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center/cover;
}

.app.amazon-forest {
  background: url("https://images.unsplash.com/photo-1568399032147-1011aa65f85a?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center/cover;
}

.app.volcano {
  background: url("https://images.unsplash.com/photo-1720709734276-cd14a216bcad?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center/cover;
}

.app.underwater {
  background: url("https://images.unsplash.com/photo-1560259324-12a044e67c34?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center/cover;
}

.app.desert {
  background: url("https://images.unsplash.com/photo-1559767180-47d8f4919e5d?q=80&w=2030&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center/cover;
}
